body {
  background-image: linear-gradient(to right, #338FFF, #214e83, #032653);
  color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
